@using CemSys.Models.ViewModel
@model ABMRepositoryVM<TipoCategoriaPersona>

@{
    string action = (Model.EsModificacion == true) ? "Modificar" : "Registrar";
    string actionTexto = (Model.EsModificacion == true) ? "Modificar" : "Registrar";
}

<div class="main-content">
    <h1>Tipo categoría de personas</h1>

    <form asp-action="@action" method="post">
        <label class="form-label" for="tipo">Tipo de categoría</label>
        <input type="hidden" name="id" value="@Model.Modelo?.IdCategoriaPersona" />
        <input class="form-control-sm" type="text" name="tipo" value="@Model.Modelo?.Tipo" required maxlength="20" id="tipo" />
        <input class="btn-custom" type="submit" name="name" value="@actionTexto" />
    </form>

    @if (Model.Lista.Count == 0)
    {
        <p>No hay datos para mostrar</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tipo in Model.Lista)
                {
                    <tr>
                        <td>@tipo.Tipo</td>
                        <td>
                            <form asp-action="Modificar" method="get" style="display: inline-block;">
                                <input type="hidden" name="id" value="@tipo.IdCategoriaPersona" />
                                <button type="submit" class="btn-modificar" title="Modificar">
                                    <i class="bi bi-pencil"></i>
                                </button>
                            </form>
                            <form asp-action="Eliminar" method="post" style="display: inline-block;">
                                <input type="hidden" name="id" value="@tipo.IdCategoriaPersona" />
                                <button type="submit" class="btn-eliminar" title="Eliminar" onclick="return confirm('¿Estás seguro que deseas eliminar este registro?');">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </form>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <p>@ViewData["MensajeEmitir"]</p>
    }
</div>
