@using CemSys.Models.ViewModel
@model VMResumenIntroduccion

<div class="main-content">
    <h1>Introducciones</h1>
    <!-- Botón Agregar -->
    <form asp-action="Registrar" method="get" class="mb-4 text-center">
        <input class="btn-agregar-guardar" type="submit" value="+ Introducir difunto" />
    </form>

    <!--buscador-->
    <form asp-action="IndexIntroduccion" method="post">
        <div class="bloque-filtrado">
            <fieldset >
                <legend>Buscador</legend>
                <div>
                    <input type="radio" name="tipoFiltro" value="todas" id="tipoFiltroTodas" checked/>
                    <label for="tipoFiltroTodas">Todas</label>
                </div>
                <div>
                    <input type="radio" name="tipoFiltro" value="desde" id="FiltroDesdeFiltroDesde" />
                    <label for="FiltroDesde">Desde</label>
                    <input type="date" name="desde" value="" />
                    <label for="FiltroHasta">Hasta</label>
                    <input type="date" name="hasta" value="" id="FiltroHasta" />
                </div>
            </fieldset>
        </div>

        <!-- Botón Buscar -->
        <div class="text-center mt-3">
            <button type="submit" class="btn-filtrar">Buscar</button>
        </div>

        <!-- Botón Generar reporte -->
        <div class="text-center mt-3">
            <button type="submit" class="btn-filtrar">Generar reporte</button>
        </div>
    </form>

    <!-- Tabla de Introducciones -->
    @if (Model.ListaTramites.Count == 0)
    {
    }
    else
    {
        <table>
            <thead>
                <tr>
                    <th>Operación</th>
                    <th>Ingreso</th>
                    <th>DNI</th>
                    <th>Apellido y Nombre</th>
                    <th>Sección</th>
                    <th>Ubicación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tramite in Model.ListaTramites)
                {
                    <tr>
                        <td>@tramite.IdTramite</td>
                        @* Inicializar variables *@
                        @{
                            string dni = "";
                            string nombreCompleto = "";
                            string seccion = "";
                            string ubicacion = "";
                            string fechaIngreso = "";

                            var difunto = tramite.DifuntoRelacionado;

                            if (difunto is NichosDifunto nicho)
                            {
                                dni = nicho.Difunto.Dni;
                                nombreCompleto = $"{nicho.Difunto.Apellido.ToUpper()} {nicho.Difunto.Nombre.ToUpper()}";
                                seccion = nicho.Nicho.SeccionNavigation.Nombre;
                                ubicacion = $"Nicho {nicho.Nicho.NroNicho} Fila {nicho.Nicho.NroFila}";
                                fechaIngreso = nicho.FechaIngreso?.ToString("dd/MM/yyyy HH:mm");
                            }
                            else if (difunto is FosasDifunto fosa)
                            {
                                dni = fosa.Difunto.Dni;
                                nombreCompleto = $"{fosa.Difunto.Apellido.ToUpper()} {fosa.Difunto.Nombre.ToUpper()}";
                                seccion = fosa.Fosa.SeccionNavigation.Nombre;
                                ubicacion = $"Fosa {fosa.Fosa.NroFosa}";
                                fechaIngreso = fosa.FechaIngreso?.ToString("dd/MM/yyyy HH:mm");
                            }
                            else if (difunto is PanteonDifunto panteon)
                            {
                                dni = panteon.Difunto.Dni;
                                nombreCompleto = $"{panteon.Difunto.Apellido.ToUpper()} {panteon.Difunto.Nombre.ToUpper()}";
                                seccion = panteon.Panteon.IdSeccionPanteonNavigation.Nombre;
                                ubicacion = $"Lote {panteon.Panteon.NroLote}";
                                fechaIngreso = panteon.FechaIngreso?.ToString("dd/MM/yyyy HH:mm");
                            }
                        }
                        <td>@fechaIngreso hs</td>
                        <td>@dni</td>
                        <td>@nombreCompleto</td>
                        <td>@seccion</td>
                        <td>@ubicacion</td>

                        <td>
                            <form asp-action="ResumenIntroduccion" method="get">
                                    <input type="hidden" name="idTramite" value="@tramite.IdTramite" />
                                    <input type="submit" class="btn btn-primary" name="" value="Ver" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }

</div>

<script>
    //buscador
    const inputDesde = document.getElementById('filtroDesde');
    const inputHasta = document.getElementById('filtroHasta');
    const inputTodas = document.getElementById('tipoFiltroTodas');

    


</script>