@using CemSys.Models.ViewModel
@model VMResumenIntroduccion




<h1 class="titulo-principal text-center mb-4">Resumen de la operación</h1>

<div class="contenedor-resumen">

    <form asp-action="ResumenIntroduccionEnPDF" asp-controller="Difuntos" method="get" class="formulario-resumen">
        @* Contenido del formulario *@

        <input type="hidden" name="idTramite" value="@Model.ListaTramites.FirstOrDefault()?.IdTramite.ToString()" />
    </form>

    @* Contenido del resumen *@
    @{
        int nroTramite = 0;
        string dni = "";
        string nombreCompleto = "";
        string fechaDefuncion = "";
        string fechaNacimiento = "";
        string actaDefuncion = "";
        string tomo = "";
        string folio = "";
        string serie = "";
        string age = "";
        string estadoDifunto = "";
        string empresa = "";
        string usuario = "";
        string seccion = "";
        string ubicacion = "";
        string fechaIngreso = "";
        string datosAdicionales = "";
    }

    @foreach (var tramite in Model.ListaTramites)
    {
        nroTramite = tramite.IdTramite;
        var difunto = tramite.DifuntoRelacionado;

        if (difunto is NichosDifunto nicho)
        {
            dni = (nicho.Difunto.Dni != "nn") ? nicho.Difunto.Dni : "--------";
            nombreCompleto = $"{nicho.Difunto.Apellido.ToUpper()} {nicho.Difunto.Nombre.ToUpper()}";
            seccion = nicho.Nicho.SeccionNavigation.Nombre.ToLower();
            ubicacion = $"Nicho {nicho.Nicho.NroNicho} Fila {nicho.Nicho.NroFila}";
            fechaIngreso = nicho.FechaIngreso?.ToString("dd/MM/yyyy HH:mm");
            fechaDefuncion = nicho.Difunto.FechaDefuncion?.ToString("dd/MM/yyyy");
            fechaNacimiento = nicho.Difunto.FechaNacimiento?.ToString("dd/MM/yyyy");
            actaDefuncion = (nicho.Difunto.ActaDefuncionNavigation.NroActa != 0) ? nicho.Difunto.ActaDefuncionNavigation.NroActa.ToString() : "";
            tomo = (nicho.Difunto.ActaDefuncionNavigation.Tomo != 0) ? nicho.Difunto.ActaDefuncionNavigation.Tomo.ToString() : "";
            folio = (nicho.Difunto.ActaDefuncionNavigation.Folio != 0) ? nicho.Difunto.ActaDefuncionNavigation.Folio.ToString() : "";
            serie = nicho.Difunto.ActaDefuncionNavigation.Serie?.ToUpper() ?? "";
            age = (nicho.Difunto.ActaDefuncionNavigation.Age != 0) ? nicho.Difunto.ActaDefuncionNavigation.Age.ToString() : "";
            estadoDifunto = nicho.Difunto.EstadoNavigation.Estado;
            empresa = nicho.Empresa.ToLower();
            usuario = nicho.UsuarioNavigation.Nombre.ToLower();
            datosAdicionales = nicho.Difunto.Descripcion;
        }
        else if (difunto is FosasDifunto fosa)
        {
            dni = (fosa.Difunto.Dni != "nn") ? fosa.Difunto.Dni : "--------";
            nombreCompleto = $"{fosa.Difunto.Apellido.ToUpper()} {fosa.Difunto.Nombre.ToUpper()}";
            seccion = fosa.Fosa.SeccionNavigation.Nombre.ToLower();
            ubicacion = $"Fosa {fosa.Fosa.NroFosa}";
            fechaIngreso = fosa.FechaIngreso?.ToString("dd/MM/yyyy HH:mm");
            fechaDefuncion = fosa.Difunto.FechaDefuncion?.ToString("dd/MM/yyyy");
            fechaNacimiento = fosa.Difunto.FechaNacimiento?.ToString("dd/MM/yyyy");
            actaDefuncion = (fosa.Difunto.ActaDefuncionNavigation.NroActa != 0) ? fosa.Difunto.ActaDefuncionNavigation.NroActa.ToString() : "";
            tomo = (fosa.Difunto.ActaDefuncionNavigation.Tomo != 0) ? fosa.Difunto.ActaDefuncionNavigation.Tomo.ToString() : "";
            folio = (fosa.Difunto.ActaDefuncionNavigation.Folio != 0) ? fosa.Difunto.ActaDefuncionNavigation.Folio.ToString() : "";
            serie = fosa.Difunto.ActaDefuncionNavigation.Serie?.ToUpper() ?? "";
            age = (fosa.Difunto.ActaDefuncionNavigation.Age != 0) ? fosa.Difunto.ActaDefuncionNavigation.Age.ToString() : "";
            estadoDifunto = fosa.Difunto.EstadoNavigation.Estado;
            empresa = fosa.Empresa.ToLower();
            usuario = fosa.UsuarioNavigation.Nombre.ToLower();
            datosAdicionales = fosa.Difunto.Descripcion;
        }
        else if (difunto is PanteonDifunto panteon)
        {
            dni = (panteon.Difunto.Dni != "nn") ? panteon.Difunto.Dni : "--------";
            nombreCompleto = $"{panteon.Difunto.Apellido.ToUpper()} {panteon.Difunto.Nombre.ToUpper()}";
            seccion = panteon.Panteon.IdSeccionPanteonNavigation.Nombre.ToLower();
            ubicacion = $"Lote {panteon.Panteon.NroLote}";
            fechaIngreso = panteon.FechaIngreso?.ToString("dd/MM/yyyy HH:mm");
            fechaDefuncion = panteon.Difunto.FechaDefuncion?.ToString("dd/MM/yyyy");
            fechaNacimiento = panteon.Difunto.FechaNacimiento?.ToString("dd/MM/yyyy");
            actaDefuncion = (panteon.Difunto.ActaDefuncionNavigation.NroActa != 0) ? panteon.Difunto.ActaDefuncionNavigation.NroActa.ToString() : "";
            tomo = (panteon.Difunto.ActaDefuncionNavigation.Tomo != 0) ? panteon.Difunto.ActaDefuncionNavigation.Tomo.ToString() : "";
            folio = (panteon.Difunto.ActaDefuncionNavigation.Folio != 0) ? panteon.Difunto.ActaDefuncionNavigation.Folio.ToString() : "";
            serie = panteon.Difunto.ActaDefuncionNavigation.Serie?.ToUpper() ?? "";
            age = (panteon.Difunto.ActaDefuncionNavigation.Age != 0) ? panteon.Difunto.ActaDefuncionNavigation.Age.ToString() : "";
            estadoDifunto = panteon.Difunto.EstadoNavigation.Estado;
            empresa = panteon.Empresa.ToLower();
            usuario = panteon.UsuarioNavigation.Nombre.ToLower();
            datosAdicionales = panteon.Difunto.Descripcion;
        }
    }

    <h2>Trámite @nroTramite</h2>
    <p><strong>Ingreso:</strong> @fechaIngreso</p>
    <p><strong>Empresa:</strong> @empresa.ToUpper()</p>

    <p><strong>DNI:</strong> @dni</p>
    <p><strong>Apellido y nombre:</strong> @nombreCompleto</p>
    <p><strong>Fecha nacimiento:</strong> @fechaNacimiento</p>
    <p><strong>Fecha defunción:</strong> @fechaDefuncion</p>
    <p><strong>Estado del difunto:</strong> @estadoDifunto</p>
    <p><strong>Datos adicionales:</strong> @datosAdicionales</p>

    <p><strong>Acta:</strong> @actaDefuncion</p>
    <p><strong>Tomo:</strong> @tomo</p>
    <p><strong>Folio:</strong> @folio</p>
    <p><strong>Serie:</strong> @serie</p>
    <p><strong>Año:</strong> @age</p>

    <p><strong>Empleado responsable:</strong> @usuario.ToUpper()</p>
    <p><strong>Sección:</strong> @seccion.ToUpper()</p>
    <p><strong>Parcela:</strong> @ubicacion</p>

</div>

<div class="boton-pdf-container text-center mt-4">
    <form asp-action="ResumenIntroduccionEnPDF" asp-controller="Difuntos" method="get">
        <input type="hidden" name="idTramite" value="@nroTramite" />
        <button type="submit" class="btn-pdf">
            <i class="bi bi-file-earmark-pdf"></i> Descargar PDF
        </button>
    </form>
    
</div>
<div class="boton-pdf-container text-center mt-4">
    <form asp-action="IndexIntroduccion" method="get">
        <input type="submit" name="name" value="Volver" class="btn btn-volver" />
    </form>
</div>




<style>
    .contenedor-resumen {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 16px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border: 2px solid #338b85; /* borde verde */
    }

    .titulo-principal {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
</style>
