@using CemSys.Models.ViewModel
@model VMResumenIntroduccion
<div class="main-content">
    <div>
        <img src="~/fotos/cems.png" alt="Imagen logo cemsys" height="100">
    </div>
    <h1>Resumen de la operación</h1>
    @{
        string nroTramite = "";
        string dni = "";
        string nombreCompleto = "";
        string fechaDefuncion = "";
        string fechaNacimiento = "";

        string actaDefuncion = "";
        string tomo = "";
        string folio = "";
        string serie = "";
        string age = "";
        string estadoDifunto = "";
        string empresa = "";
        string usuario = "";

        string seccion = "";
        string ubicacion = "";
        string fechaIngreso = "";
        string datosAdicionales = "";
    }
    
    @foreach (var tramite in Model.ListaTramites)
    {
    @* Inicializar variables *@


        nroTramite = tramite.IdTramite.ToString();
        var difunto = tramite.DifuntoRelacionado;

        if (difunto is NichosDifunto nicho)
        {
            dni = nicho.Difunto.Dni;
            nombreCompleto = $"{nicho.Difunto.Apellido.ToUpper()} {nicho.Difunto.Nombre.ToUpper()}";
            seccion = nicho.Nicho.SeccionNavigation.Nombre.ToLower();
            ubicacion = $"Nicho {nicho.Nicho.NroNicho} Fila {nicho.Nicho.NroFila}";
            fechaIngreso = nicho.FechaIngreso?.ToString("dd/MM/yyyy HH:mm");

            fechaDefuncion = nicho.Difunto.FechaDefuncion?.ToString("dd/MM/yyyy");
            fechaNacimiento = nicho.Difunto.FechaNacimiento?.ToString("dd/MM/yyyy");
            actaDefuncion = (nicho.Difunto.ActaDefuncionNavigation.NroActa != 0) ? nicho.Difunto.ActaDefuncionNavigation.NroActa.ToString() : "";
            tomo = (nicho.Difunto.ActaDefuncionNavigation.Tomo != 0) ? nicho.Difunto.ActaDefuncionNavigation.Tomo.ToString() : "";
            folio = (nicho.Difunto.ActaDefuncionNavigation.Folio != 0) ? nicho.Difunto.ActaDefuncionNavigation.Folio.ToString() : "";
            serie = (nicho.Difunto.ActaDefuncionNavigation.Serie != null) ? nicho.Difunto.ActaDefuncionNavigation.Serie.ToUpper() : "";
            age = (nicho.Difunto.ActaDefuncionNavigation.Age != 0) ? nicho.Difunto.ActaDefuncionNavigation.Age.ToString() : "";
            estadoDifunto = nicho.Difunto.EstadoNavigation.Estado;
            empresa = nicho.Empresa.ToLower();
            usuario = nicho.UsuarioNavigation.Nombre.ToLower();
            datosAdicionales = nicho.Difunto.Descripcion;

                    
        }
        else if (difunto is FosasDifunto fosa)
        {
            dni = fosa.Difunto.Dni;
            nombreCompleto = $"{fosa.Difunto.Apellido.ToUpper()} {fosa.Difunto.Nombre.ToUpper()}";
            seccion = fosa.Fosa.SeccionNavigation.Nombre.ToLower();
            ubicacion = $"Fosa {fosa.Fosa.NroFosa}";
            fechaIngreso = fosa.FechaIngreso?.ToString("dd/MM/yyyy HH:mm");

            fechaDefuncion = fosa.Difunto.FechaDefuncion?.ToString("dd/MM/yyyy");
            fechaNacimiento = fosa.Difunto.FechaNacimiento?.ToString("dd/MM/yyyy");
            actaDefuncion = (fosa.Difunto.ActaDefuncionNavigation.NroActa != 0) ? fosa.Difunto.ActaDefuncionNavigation.NroActa.ToString() : "";
            tomo = (fosa.Difunto.ActaDefuncionNavigation.Tomo != 0) ? fosa.Difunto.ActaDefuncionNavigation.Tomo.ToString() : "";
            folio = (fosa.Difunto.ActaDefuncionNavigation.Folio != 0) ? fosa.Difunto.ActaDefuncionNavigation.Folio.ToString() : "";
            serie = (fosa.Difunto.ActaDefuncionNavigation.Serie != null) ? fosa.Difunto.ActaDefuncionNavigation.Serie.ToUpper() : "";
            age = (fosa.Difunto.ActaDefuncionNavigation.Age != 0) ? fosa.Difunto.ActaDefuncionNavigation.Age.ToString() : "";
            estadoDifunto = fosa.Difunto.EstadoNavigation.Estado;
            empresa = fosa.Empresa.ToString();
            usuario = fosa.UsuarioNavigation.Nombre.ToUpper(); 
            datosAdicionales = fosa.Difunto.Descripcion;

        }
        else if (difunto is PanteonDifunto panteon)
        {
            dni = panteon.Difunto.Dni;
            nombreCompleto = $"{panteon.Difunto.Apellido.ToUpper()} {panteon.Difunto.Nombre.ToUpper()}";
            seccion = panteon.Panteon.IdSeccionPanteonNavigation.Nombre.ToLower();
            ubicacion = $"Lote {panteon.Panteon.NroLote}";
            fechaIngreso = panteon.FechaIngreso?.ToString("dd/MM/yyyy HH:mm");

            fechaDefuncion = panteon.Difunto.FechaDefuncion?.ToString("dd/MM/yyyy");
            fechaNacimiento = panteon.Difunto.FechaNacimiento?.ToString("dd/MM/yyyy");
            actaDefuncion = (panteon.Difunto.ActaDefuncionNavigation.NroActa != 0) ? panteon.Difunto.ActaDefuncionNavigation.NroActa.ToString() : "";
            tomo = (panteon.Difunto.ActaDefuncionNavigation.Tomo != 0) ? panteon.Difunto.ActaDefuncionNavigation.Tomo.ToString() : "";
            folio = (panteon.Difunto.ActaDefuncionNavigation.Folio != 0) ? panteon.Difunto.ActaDefuncionNavigation.Folio.ToString() : "";
            serie = (panteon.Difunto.ActaDefuncionNavigation.Serie != null) ? panteon.Difunto.ActaDefuncionNavigation.Serie.ToUpper() : "";
            age = (panteon.Difunto.ActaDefuncionNavigation.Age != 0) ? panteon.Difunto.ActaDefuncionNavigation.Age.ToString() : "";
            estadoDifunto = panteon.Difunto.EstadoNavigation.Estado;
            empresa = panteon.Empresa.ToLower();
            usuario = panteon.UsuarioNavigation.Nombre.ToLower();
            datosAdicionales = panteon.Difunto.Descripcion;

        }
    }

    <h2>Tramite @nroTramite</h2>
    <p>Ingreso @fechaIngreso</p>
    <p>Empresa: @empresa.ToUpper()</p>

    <p>DNI: @dni</p>
    <p>Apellido y nombre: @nombreCompleto.ToUpper()</p>
    <p>Fecha nacimiento @fechaNacimiento</p>
    <p>Fecha defunción: @fechaDefuncion</p>
    <p>Estado difunto: @estadoDifunto</p>
    <p>Datos adicionales: @datosAdicionales</p>

    <p>Acta: @actaDefuncion</p>
    <p>Tomo: @tomo</p>
    <p>Folio: @folio</p>
    <p>Serie: @serie</p>
    <p>Año: @age</p>

    <p>Empleado responsable: @usuario.ToUpper()</p>
    <p>Sección: @seccion.ToUpper()</p>
    <p>Parcela: @ubicacion</p>

    <a asp-action="IndexIntroduccion" asp-controller="Difuntos" class="btn-volver"><i class="btn"></i>Volver</a>

    <form asp-action="ResumenIntroduccionEnPDF" asp-controller="Difuntos" method="get">
        <input type="hidden" name="idTramite" value="@nroTramite" />
        <button type="submit" class="btn-volver"><i class="btn"></i>Descargar PDF</button>
    </form>

</div>

